{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>statistics</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'node.js' %}"></script>
</head>
<body>
    <header>
        <h1>SecureCity</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" class="a">Home-page</a></li>
                <li><a href="{% url 'map-page' %}" class="a">Crime-map</a></li>
                <li><a href="{% url 'upload_dataset' %}">upload-dataset</a></li>
                <li><a href="{% url 'report' %}">country-statistics</a></li>
                <li><a href="{% url 'about' %}" class="a">About</a></li>
                <li><a href="{% url 'contact' %}" class="a">Contact</a></li>
                <li><a href="#" class="a">FAQ</a></li>
            </ul>
        </nav>
    </header>
        <!-- Display the average crime rate -->
    {% if average_crime_rate %}
    <p>Average Crime Rate for {{ country_name }}: {{ average_crime_rate }}</p>
    <p>Average Safety index in {{country_name}} is {{average_safety_Index}}</p>
    {% else %}
    <p>No crime statistics found for {{ country_name }}.</p>
    {% endif %}

</body>
</html>