{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show stats</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
<script src="{% static 'node.js' %}"></script>
<body>
  <header>
    <h1>SecureCity</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}" class="a">Home-page</a></li>
            <li><a href="{% url 'map-page' %}" class="a">Crime-map</a></li>
            <li><a href="{% url 'upload_dataset' %}">upload-dataset</a></li>
            <li><a href="{% url 'report' %}">country-statistics</a></li>
            <li><a href="{% url 'about' %}" class="a">About</a></li>
            <li><a href="{% url 'contact' %}" class="a">Contact</a></li>
            <li><a href="#" class="a">FAQ</a></li>
        </ul>
    </nav>
</header>
<body>
    <div>
        <form id="countryForm">
            <select name="selectedCountry" id="countrySelect" onchange="openPopup()">
                <option value="">-- Select a country --</option>
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Get Statistics</button>
        </form>        
</body>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</html>
